{# INICIO COMPONENTE BANNER #}
{# {{ component.banner.title_g_banner }}
{{ component.banner.title_v_banner }}
{{ component.banner.descrip_v_banner }}
{{ component.banner.preview_v_banner }}
{{ component.banner.preview_v_banner_alt }}
{{ component.banner.url_v_banner }} #}
{# FIN COMPONENTE BANNER #}

{# {% for item_features in component.features_ingredients.features %}
      {{ item_feature.image }}
      {{ item_feature.image_alt }}
      {{ item_feature.description }}
{% endfor %}  #}

 {# {% for item_features in component.features_ingredients.features %}
      {{ item_features.image }}
      {{ item_features.image_alt }}
      {{ item_features.description }}
{% endfor %} #}


<main class="abi-mainContent">
  {# Inicio Banner Video Principal #}


  {# Inicio sección Ingredientes de la cerveza #}
  <section class="abi-beerIngredients">
    <div class="abi-beerIngredientsInfo">
      <h2 class="abi-beerIngredientsInfo__title">{{ component.features_ingredients.title_features }}</h2>
      <p class="abi-beerIngredientsInfo__description">{{ component.features_ingredients.descrip_features }}</p>

      {# Only desktop #}
      <div class="hidden lg:grid lg:grid-rows-3 lg:grid-cols-2 lg:grid-flow-col lg:gap-8">
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
        </div>
      </div>
      {# Only desktop #}
      <a class="hidden mt-[30px] lg:flex lg:items-center lg:justify-center mx-auto w-[220px] h-[50px] font-secondary font-bold text-black text-base text-center bg-button-primary rounded-lg cursor-pointer" href="{{ component.features_ingredients.url_button_features }}">{{ component.features_ingredients.text_button_features }}</a>

    </div>
    {# Bottle and Ingredients #}
    <article class="abi-beerIngredients__ingredientsWrapper ">
      <img class="max-h-[441px]" src="{{ component.features_ingredients.image_features }}" alt="{{ component.features_ingredients.image_features_alt }}" title="">
      <div>
        {% for item_ingredients in component.features_ingredients.ingredients %}
          <img src="{{ item_ingredients.image }}" alt="" title="{{ item_ingredients.image_alt }}">
        {% endfor %}
      </div>
    </article>

    <article class="my-8 flex flex-col gap-y-2 lg:hidden">
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
      </div>
    </article>
    <a class="abi-beerIngredients__btnTada" href="{{ component.features_ingredients.url_button_features }}">{{ component.features_ingredients.text_button_features }}</a>

  </section>

  {# Inicio sección ocasiones de consumo #}
  <section class="abi-ocasiones">
    <h2 class="font-primary font-normal text-2xl text-white text-center">{{ component.consumption_occasions.title_occasions }}</h2>
    <article class="abi-ocasiones__info relative">
      <picture>
        <source srcset="/{{ directory }}/sources/images/bg-ocasiones-desktop.jpg" media="(min-width: 1024px)">
        <img class="absolute w-full inset-0 h-full lg:max-h-[632px]" src="/{{ directory }}/sources/images/bg-ocasiones-mobile.jpg" alt="" title="">
      </picture>
      <div class="relative flex p-4 md:p-8 mt-48 lg:mt-52 md:mt-32">
        <div class="w-1/2 lg:w-full">
          <div class="relative flex flex-col lg:flex-wrap lg:flex-row lg:justify-between gap-8 lg:gap-x-[12%] -mt-[50%] lg:-mt-[15%] md:mt-0">
            {% for item_occasions in component.consumption_occasions.occasions %}
              <div class="abi-ocasiones__card lg:w-[28%]">
                <img class="max-w-[155px] lg:max-w-none lg:w-full" src="{{ item_occasions.image }}" alt="{{ item_occasions.image_alt }}" title="{{ item_occasions.title }}">
                <h3 class="font-primary text-base text-white font-normal lg:text-2xl">{{ item_occasions.title }}</h3>
                <p class="font-secondary text-sm text-white font-normal" >{{ item_occasions.description }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="w-1/2 lg:absolute lg:w-[50%] lg:-translate-x-1/2 lg:left-1/2 -top-[30%]">
          <div class="relative flex flex-col justify-center items-center gap-4 -mt-[90%] md:mt-0">
            <img src="{{ component.consumption_occasions.image_occasions }}" alt="{{ component.consumption_occasions.image_occasions_alt }}" title="{{ component.consumption_occasions.image_occasions_alt }}">
            <p class="text-white uppercase text-sm font-medium absolute top-[65%] lg:top-[70%]">Botella 355ml</p>
            <p class="font-secondary text-base text-white font-bold absolute top-[70%] lg:top-[75%]">{{ component.consumption_occasions.text_occasions }}</p>
            <a class="bg-button-primary font-secondary text-sm font-bold w-[148px] h-[45px] rounded-md flex place-content-center place-items-center leading-4" href="{{ component.consumption_occasions.url_button_one_occasions }}">{{ component.consumption_occasions.text_button_one_occasions }}</a>
            <a class="bg-button-primary font-secondary text-sm font-bold w-[148px] h-[45px] rounded-md flex place-content-center place-items-center leading-4" href="{{ component.consumption_occasions.url_button_two_occasionss }}">{{ component.consumption_occasions.text_button_two_occasions }}</a>
          </div>
        </div>
      </div>
    </article>
  </section>



  {# INICIO COMPONENTE MAPA #}
  {% if view_map %}
    <section id="section-3" class="page-find-it__section-three abi-great-colombia__home--map mt-[15rem] lg:mt-[650px]">
      <div id="comprar" > <!-- ANCHA PARA EL MAPA -->
        <div class="">
          <h2 class="">{{ title_block_map }}</h2>
          <div class="page-find-it__section-three__box abi-great-colombia__home--map--search">
            <div class="page-find-it__section-three__search abi-great-colombia__home--map--search--wrapper">
              <input id="input-search-map" class="abi-great-colombia__home--map--search-input"  type="text" placeholder="{{ placeholder_filter_map }}" />
              <svg id="btn-search-map" width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8823 10.9998C17.8823 15.077 14.6161 18.3332 10.647 18.3332C6.67799 18.3332 3.41174 15.077 3.41174 10.9998C3.41174 6.92272 6.67799 3.6665 10.647 3.6665C14.6161 3.6665 17.8823 6.92272 17.8823 10.9998ZM15.9263 19.8543C14.3849 20.7931 12.5785 21.3332 10.647 21.3332C4.99424 21.3332 0.411743 16.7068 0.411743 10.9998C0.411743 5.29289 4.99424 0.666504 10.647 0.666504C16.2998 0.666504 20.8823 5.29289 20.8823 10.9998C20.8823 13.6671 19.8814 16.0983 18.238 17.9315L24.6743 24.5835L22.5882 26.7395L15.9263 19.8543Z" fill="#EEBB6F"/>
              </svg>
            </div>
            <div class="page-find-it__section-three__filter abi-great-colombia__home--map--search--filter">
              <ul class="filters">
                {% for item_filter in filters %}
                  <li data-filter="{{ item_filter['title'] }}" data-color="{{ item_filter['color_card'] }}" data-colortext="{{ item_filter['color_texts_icons'] }}"> <p>{{ item_filter['title'] }}</p>  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {{ drupal_block('ab_pe_pacifico_mapas_embed') }}
      </div>
    </section>
  {% endif %}
  {# FIN COMPONENTE MAPA #}
</main>


