{# INICIO COMPONENTE BANNER #}
{# {{ component.banner.title_g_banner }}
{{ component.banner.title_v_banner }}
{{ component.banner.descrip_v_banner }}
{{ component.banner.preview_v_banner }}
{{ component.banner.preview_v_banner_alt }}
{{ component.banner.url_v_banner }} #}
{# FIN COMPONENTE BANNER #}

{# {% for item_features in component.features_ingredients.features %}
      {{ item_feature.image }}
      {{ item_feature.image_alt }}
      {{ item_feature.description }}
{% endfor %}  #}


{# INICIO COMPONENTE consumption occasions #}
{# {{ component.consumption_occasions.image_occasions }}
{{ component.consumption_occasions.image_occasions_alt }}
{{ component.consumption_occasions.text_occasions }}
{{ component.consumption_occasions.text_button_one_occasions }}
{{ component.consumption_occasions.url_button_one_occasions }}
{{ component.consumption_occasions.text_button_two_occasions }}
{{ component.consumption_occasions.url_button_two_occasionss }} #}
{# FIN COMPONENTE consumption occasions #}


<main class="abi-mainContent">
  {# Inicio Banner Video Principal #}
  <section class="w-full h-12 mb-4">
  </section>

  {# Inicio sección Ingredientes de la cerveza #}
  <section class="abi-beerIngredients">
    <div class="abi-beerIngredientsInfo">
      <h2 class="abi-beerIngredientsInfo__title">{{ component.features_ingredients.title_features }}</h2>
      <p class="abi-beerIngredientsInfo__description">{{ component.features_ingredients.descrip_features }}</p>

      {# Only desktop #}
      <div class="hidden lg:grid lg:grid-rows-3 lg:grid-cols-2 lg:grid-flow-col lg:gap-8">
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
        </div>
      </div>
      {# Only desktop #}
      <a class="hidden mt-[30px] lg:flex lg:items-center lg:justify-center mx-auto w-[220px] h-[50px] font-secondary font-bold text-black text-base text-center bg-button-primary rounded-lg cursor-pointer" href="{{ component.features_ingredients.url_button_features }}">{{ component.features_ingredients.text_button_features }}</a>

    </div>
    {# Bottle and Ingredients #}
    <article class="abi-beerIngredients__ingredientsWrapper ">
      <img class="max-h-[441px]" src="{{ component.features_ingredients.image_features }}" alt="{{ component.features_ingredients.image_features_alt }}" title="">
      <div>
        {% for item_ingredients in component.features_ingredients.ingredients %}
          <img src="{{ item_ingredients.image }}" alt="" title="{{ item_ingredients.image_alt }}">
        {% endfor %}
      </div>
    </article>

    <article class="my-8 flex flex-col gap-y-2 lg:hidden">
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
      </div>
    </article>
    <a class="abi-beerIngredients__btnTada" href="{{ component.features_ingredients.url_button_features }}">{{ component.features_ingredients.text_button_features }}</a>
  
  </section>

  {# Inicio sección ocasiones de consumo #}
  <section class="abi-ocasiones">
    <h2 class="font-primary font-normal text-2xl text-white text-center">{{ component.consumption_occasions.title_occasions }}</h2>
    <article class="abi-ocasiones__info relative">
      <picture>
        <source srcset="/{{ directory }}/sources/images/bg-ocasiones-desktop.jpg" media="(min-width: 1024px)">
        <img class="absolute w-full inset-0 max-h-[1040px]" src="/{{ directory }}/sources/images/bg-ocasiones-mobile.jpg" alt="" title="">
      </picture>
      <section class="relative flex p-4 md:p-8 mt-48 md:mt-32">
        <article class="w-1/2">
          <div class="relative flex flex-col gap-8 -mt-[50%] md:mt-0">
            {% for item_occasions in component.consumption_occasions.occasions %}
              <div class="lg:w-[60%]">
                <img class="max-w-[155px] lg:max-w-[313px]" src="{{ item_occasions.image }}" alt="{{ item_occasions.image_alt }}" title="{{ item_occasions.title }}">
                <h3 class="font-primary text-base text-white font-normal lg:text-2xl">{{ item_occasions.title }}</h3>
                <p class="font-secondary text-sm text-white font-normal" >{{ item_occasions.description }}</p>
              </div>
            {% endfor %}
          </div>
        </article>
        <article class="w-1/2 lg:w-full">
          <div class="relative flex flex-col justify-center items-center gap-4 -mt-[90%] md:mt-0">
            <img src="{{ component.consumption_occasions.image_occasions }}" alt="{{ component.consumption_occasions.image_occasions_alt }}" title="{{ component.consumption_occasions.image_occasions_alt }}">
            <p class="text-white uppercase text-sm font-medium">Botella 355ml</p>
            <p class="font-secondary text-base text-white font-bold">{{ component.consumption_occasions.text_occasions }}</p>
            <a class="bg-button-primary font-secondary text-sm font-bold w-[148px] h-[45px] rounded-md flex place-content-center place-items-center leading-4" href="{{ component.consumption_occasions.url_button_one_occasions }}">{{ component.consumption_occasions.text_button_one_occasions }}</a>
            <a class="bg-button-primary font-secondary text-sm font-bold w-[148px] h-[45px] rounded-md flex place-content-center place-items-center leading-4" href="{{ component.consumption_occasions.url_button_two_occasionss }}">{{ component.consumption_occasions.text_button_two_occasions }}</a>
          </div>
        </article>
      </section>
    </article>
  </section>
  


  {# INICIO COMPONENTE MAPA #}
  {% if view_map %}
    <section id="section-3" class="page-find-it__section-three abi-great-colombia__home--map mt-[15rem] lg:mt-[650px]">
      <div id="comprar" > <!-- ANCHA PARA EL MAPA -->
        <div class="">
          <h2 class="">{{ title_block_map }}</h2>
          <div class="page-find-it__section-three__box abi-great-colombia__home--map--search">
            <div class="page-find-it__section-three__search abi-great-colombia__home--map--search--wrapper">
              <input id="input-search-map" class="abi-great-colombia__home--map--search-input"  type="text" placeholder="{{ placeholder_filter_map }}" />
              {# <svg id="btn-search-map" viewBox="0 0 30 30" class="page-find-it__section-three__search__icon">
                <path  d="M21.0515 19.1376L28.7311 26.8174C29.001 27.0875 29.1526 27.4538 29.1524 27.8357C29.1523 28.2176 29.0005 28.5837 28.7304 28.8537C28.4602 29.1236 28.094 29.2752 27.7121 29.2751C27.3302 29.2749 26.964 29.1231 26.6941 28.853L19.0145 21.1732C16.7188 22.9513 13.8319 23.7881 10.9411 23.5133C8.05032 23.2385 5.37282 21.8727 3.45327 19.6937C1.53373 17.5148 0.516331 14.6865 0.60806 11.784C0.69979 8.88159 1.89375 6.12311 3.94706 4.06976C6.00036 2.0164 8.75877 0.822412 11.6611 0.73068C14.5635 0.638949 17.3918 1.65637 19.5707 3.57596C21.7495 5.49556 23.1153 8.17313 23.3901 11.064C23.6649 13.9548 22.8282 16.8418 21.05 19.1376H21.0515ZM12.0229 20.7092C14.2944 20.7092 16.4728 19.8069 18.079 18.2006C19.6852 16.5944 20.5875 14.4159 20.5875 12.1444C20.5875 9.87286 19.6852 7.69436 18.079 6.08814C16.4728 4.48192 14.2944 3.57956 12.0229 3.57956C9.75144 3.57956 7.57299 4.48192 5.96681 6.08814C4.36064 7.69436 3.45829 9.87286 3.45829 12.1444C3.45829 14.4159 4.36064 16.5944 5.96681 18.2006C7.57299 19.8069 9.75144 20.7092 12.0229 20.7092Z" fill="#5E5E5E;"/>
              </svg> #}
            </div>
            <div class="page-find-it__section-three__filter abi-great-colombia__home--map--search--filter">
              <ul class="filters">
                {% for item_filter in filters %}
                  <li data-filter="{{ item_filter['title'] }}" data-color="{{ item_filter['color_card'] }}" data-colortext="{{ item_filter['color_texts_icons'] }}"> <p>{{ item_filter['title'] }}</p>  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {{ drupal_block('ab_pe_pacifico_mapas_embed') }}
      </div>
    </section>
  {% endif %}
  {# FIN COMPONENTE MAPA #}
</main>


