{# INICIO COMPONENTE BANNER #}
{{ component.banner.title_g_banner }}
{{ component.banner.title_v_banner }}
{{ component.banner.descrip_v_banner }}
{{ component.banner.preview_v_banner }}
{{ component.banner.preview_v_banner_alt }}
{{ component.banner.url_v_banner }}
{# FIN COMPONENTE BANNER #}


{# INICIO COMPONENTE FEATURES AND INGREDIENTS #}
{{ component.features_ingredients.title_features }}
{{ component.features_ingredients.descrip_features }}
    {% for item_features in component.features_ingredients.features %}
      {{ item_feature.image }}
      {{ item_feature.image_alt }}
      {{ item_feature.description }}
    {% endfor %}
{{ component.features_ingredients.image_features }}
{{ component.features_ingredients.image_features_alt }}
   {% for item_ingredients in component.features_ingredients.ingredients %}
     {{ item_ingredients.image }}
     {{ item_ingredients.image_alt }}
     {{ item_ingredients.description }}
   {% endfor %}
{{ component.features_ingredients.text_button_features }}
{{ component.features_ingredients.url_button_features }}
{# FIN COMPONENTE FEATURES AND INGREDIENTS #}



{# INICIO COMPONENTE consumption occasions #}
{{ component.consumption_occasions.title_occasions }}
   {% for item_occasions in component.consumption_occasions.occasions %}
     {{ item_occasions.image }}
     {{ item_occasions.image_alt }}
     {{ item_occasions.title }}
     {{ item_occasions.description }}
   {% endfor %}
{{ component.consumption_occasions.image_occasions }}
{{ component.consumption_occasions.image_occasions_alt }}
{{ component.consumption_occasions.text_occasions }}
{{ component.consumption_occasions.text_button_one_occasions }}
{{ component.consumption_occasions.url_button_one_occasions }}
{{ component.consumption_occasions.text_button_two_occasions }}
{{ component.consumption_occasions.url_button_two_occasionss }}
{# FIN COMPONENTE consumption occasions #}


<main class="abi-mainContent">
  {# Inicio Banner Video Principal #}
  <section class="w-full h-12 mb-4">
  </section>

  {# Inicio sección Ingredientes de la cerveza #}
  <section class="abi-beerIngredients">
    <div class="abi-beerIngredientsInfo">
      <h2 class="abi-beerIngredientsInfo__title">H2 ingredientes y características de la cerveza</h2>
      <p class="abi-beerIngredientsInfo__description">
        Modelo Noche Especial es una cerveza tipo Red Lager que llega para sorprender con su color ligeramente rojizo, aroma leñoso y levemente afrutado, que ofrece un sabor sutil y refrescante al paladar.
      </p>

      {# Only desktop #}
      <div class="hidden lg:grid lg:grid-rows-3 lg:grid-cols-2 lg:grid-flow-col lg:gap-8">
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
        </div>
        <div class="flex gap-4">
          <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
          <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
        </div>
      </div>
      {# Only desktop #}
      <a class="hidden mt-[30px] lg:flex lg:items-center lg:justify-center mx-auto w-[220px] h-[50px] font-secondary font-bold text-black text-base text-center bg-button-primary rounded-lg cursor-pointer" href="">COMPRA EN TADA</a>

    </div>
    {# Bottle and Ingredients #}
    <article class="abi-beerIngredients__ingredientsWrapper ">
      <img class="max-h-[441px]" src="/{{ directory }}/sources/images/botella-modelo-navidad.png" alt="" title="">
      <div>
        <img src="/{{ directory }}/sources/images/ingrediente-agua.png" alt="" title="">
        <img src="/{{ directory }}/sources/images/ingrediente-levadura.png" alt="" title="">
        <img src="/{{ directory }}/sources/images/ingrediente-malta.png" alt="" title="">
        <img src="/{{ directory }}/sources/images/ingrediente-lupulo.png" alt="" title="">
      </div>
    </article>

    <article class="my-8 flex flex-col gap-y-2 lg:hidden">
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-gusto.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Sabor suave acaramelado y tostado con notas amargas.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-vista.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Color ligeramente rojizo.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-alcohol.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">5.3% de alcohol</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-olor.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Aroma afrutado y ligeramente a granos de cebada.</p>
      </div>
      <div class="py-5 flex gap-4">
        <img class="w-[50px] h-[50px] object-contain"  src="/{{ directory }}/sources/images/icon-maridaje.png" alt="" title="">
        <p class="font-secondary text-white font-normal text-base self-center">Maridaje con pavo, pastas y ensaladas.</p>
      </div>
    </article>

    <a class="abi-beerIngredients__btnTada" href="">COMPRA EN TADA</a>

  </section>

  {# Inicio sección ocasiones de consumo #}
  <section class="h-12 w-12">

  </section>



  {# INICIO COMPONENTE MAPA #}
  {% if view_map %}
    <section id="section-maps">
        <div class="container">
          <h2 class="">{{ title_block_map }}</h2>
          <div class="">
            <div class="">
              <input id="input-search-map" class=""  type="text" placeholder="{{ placeholder_filter_map }}" />
              <button id="btn-search-map" class="">ACA VA LA LUPA</button>
            </div>
            <div class="">
              <ul class="filters">
                {% for item_filter in filters %}
                  <li data-filter="{{ item_filter['title'] }}" data-color="{{ item_filter['color_card'] }}" data-colortext="{{ item_filter['color_texts_icons'] }}"> <p>{{ item_filter['title'] }}</p>  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {{ drupal_block('ab_pe_pacifico_mapas_embed') }}
    </section>
  {% endif %}
  {# FIN COMPONENTE MAPA #}

</main>


