{# INICIO COMPONENTE BANNER #}
{{ component.banner.title_g_banner }}
{{ component.banner.title_v_banner }}
{{ component.banner.descrip_v_banner }}
{{ component.banner.preview_v_banner }}
{{ component.banner.preview_v_banner_alt }}
{{ component.banner.url_v_banner }}
{# FIN COMPONENTE BANNER #}

<main class="mainPpal">

</main>

